body {
    background-image: url(../img/pngtree-pink-rose-gold-watercolor-abstract-background-picture-image_1315433.jpg);
    background-size: 1600px, 900px;
    text-align: center;
    align-content: center;
    margin: 10px 20px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    padding: 45px;
}

main{
  color: rgb(117, 30, 27);  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: auto;
}

h3{
  padding: 45px;
}
#dia:out-of-range{
  background-color: #e6523f;
}

#mes:out-of-range{
  background-color: #e6523f;
}
p{
  color: rgb(121, 61, 61);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  padding: 25px;
}


